.card {
  width: 300px;
  border: 1px solid rgb(0, 0, 0);
  padding: 20px;
  background-color: rgb(192, 192, 192);
}

.card img {
  width: 300px;
}

.content {
  padding: 20px;
  background-color: white;
}

.content h1 {
  margin: 0;
  color: black;
}

.content button {
  width: 100%;
  background-color: rgb(228, 20, 255);
  padding: 10px 20px;
  border: none;
}

.navbar {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-items {
  display: flex;
  gap: 20px;
}

.btn {
  background: red;
  transition: all 1s;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  animation: bounce 1s infinite;
}

.btn:hover {
  background: yellow;
  transform: scale(1.3);
}

@media (min-width: 480px) and (max-width: 768px) {
  .btn {
    background: lightgray;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.heart {
  height: 50px;
  width: 50px;
  margin: auto;
  background-color: red;
  border-radius: 100px;
  transform: rotate(-45deg);
  animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(-1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 640px) {
  .card {
    width: 100%;
  }
}
